<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Insert Trip Title</title>

  <%- include('../partials/style') %>

</head>

  <body>
    
    <div class="layout layout-nav-side">

      
      <!-- Nav Bar -->

      <%- include('../partials/navbars/nav2') %>
     
      <!-- Main Section -->

      
      <!-- Trip Detail Header -->
      <div class="main-container">
        <div class="container" id="show-page-header"> 
          <div class="row justify-content-center">
            <div class="col-lg-11 col-xl-9">
              <section class="py-4 py-g-5">
                <div class="post-detail-image" style="background-image: url('<%= oneTrip.imageLink %>');">
                  <div class="show-overlay">
                    <h1><%= oneTrip.title %></h1>
                    <h3><%= oneTrip.destination %></h3>
                    <h6><%= oneTrip.startDate %> - <%= oneTrip.endDate %> </h6>
                  </div>
                </div>
              </section>
              
              <!-- Trip Detail Description-->
      
              <section class="py-4 py-g-5">
                <p><%= oneTrip.details %></p>
              </section>
          
            <!-- Trip Detail Tabs -->

              <section class="py-4 py-g-5">

                <ul class="nav nav-tabs nav-fill" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link show" href="/trips/<%= oneTrip._id %>?option=itinerary"> Itinerary</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link show" href="/trips/<%= oneTrip._id %>?option=notes">Notes</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link show" href="/trips/<%= oneTrip._id %>?option=arrivals">Arrivals</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link show" href="/trips/<%= oneTrip._id %>?option=departures">Departures</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link show" data-toggle="modal" data-target="#tripEditModal">Edit</a>
                  </li>

                  <%- include('../partials/modals/editTripModal') %>

                </ul>

              </section>


              <!-- Lower Container  -->
              
              <section class="py-4 py-g-5">
                <% if(selectedCategory === 'itinerary') { %>
                
                <div class="container posts-list">


                  <!-- Itinerary -->

                    
                  <div class="sidenav">
                  
                  <% if(user) { %>
                    <button type="button" class="btn btn-primary btn-circle btn-xl add-post-btn" data-toggle="modal" data-target="#createEventModal" title="Add New Event">
                  <i class="fal fa-plus"></i>
                </button>
                
                <!-- Add Event Modal -->
                
                <div class="modal fade" id="createEventModal" tabindex="-1" role="dialog" aria-labelledby="createEventModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="createEventModalLabel">Create A New Event</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>

                      <div class="modal-body">
                        <form method="POST" action="/trips/<%= oneTrip._id %>" validate>

                          <h5>
                            <label for="title">Event Title:</label>
                            <input type="text" name="title">
                          </h5>
                          <h5>
                            <label for="date">Date:</label>
                            <input type="text" name="date" pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}" placeholder="MM/YY/DDDD">
                          </h5> 
                          <h5>
                            <label for="time">Time:</label>
                            <input type="text" name="time">
                          </h5> 
                          <p><small>Optional:</small></p>
                          <hr>
                          <h7>
                            <label for="location">Location:</label>
                            <input type="text" name="location">
                          </h7>
                          <h7>
                            <label for="address">Address:</label>
                            <input type="text" name="address">
                          </h7>
                          <h7>
                            <label for="confirmation">Confirmation Number:</label>
                            <input type="text" name="confirmation">
                          </h7>
                          <h7>
                            <label for="description">Description:</label>
                            <input type="text" name="description">
                          </h7>
                          <h7> Category: <span class="input"><select name="category">
                              <% categories.forEach((category) => { %>
                                  <% console.log(category) %>
                                      <option><%= category %></option>
                              <%})%>
                          </select></span>
                          </h7>


                                    
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <input type="submit" class="btn btn-primary" value="Add">
                          </div>
                        </form>
                      </div>

                    </div>
                  </div>
                </div>
                <script>
                  $('#createEventModal').on('show.bs.modal', function (event) {
                    var button = $(event.relatedTarget)
                    var modal = $(this)
                    modal.find('.modal-title').text('Add New Event')
                  })
                  </script>
                <% } %>
                
                <!-- End Event Modal -->
              </div>
                    <h3>Itinerary</h3>


                    <ul>
                    <% for(let i=0; i < oneTrip.itinerary.length; i++) { %>
                      <li>
                        <h6><%= oneTrip.itinerary[i].title %> </h6>
                        <small class="text-muted"><%= oneTrip.itinerary[i].date %></small>
                        <small>Starting at <%= oneTrip.itinerary[i].time %></small>
                        <small>Location: <%= oneTrip.itinerary[i].time %></small>
                      </li>
                      <% } %>
                    </ul>

                    <% if(oneTrip.itinerary.length === 0) { %>
                      <h6>There are no events added for this trip. Let's get planning!</h6>
                    <% } %>
                    

                  <!-- Notes -->

                  <% } else if(selectedCategory === 'notes') { %>
                      <h3>Notes</h3>
                      
                      <ul>
                        <% for(let i=0; i < oneTrip.notes.length; i++) { %>
                          <li>
                            <h6><a href="<%= oneTrip.notes[i].link %>"><%= oneTrip.notes[i].title %> </a></h6>
                            <small><%= oneTrip.notes[i].description %></small>
                          </li>
                          <% } %>
                      </ul>

                      <% if(oneTrip.notes.length === 0) { %>
                        <h6>You haven't saved any notes yet!</h6>
                        <small>Feel free to add any and everything here that you may want to reference at a later date.</small>
                      <% } %>

                      
                  <!-- Arrivals -->
                  
                  <% } else if(selectedCategory === 'arrivals') { %>
                    <% let hasArrivals = false %>
                      <h3>Arrivals</h3>
                      <ul>
                        <% for(let i=0; i < oneTrip.flights.length; i++) { %>
                          <% if (oneTrip.flights[i].category === 'arrival') { %>
                            <% hasArrivals = true %>
                            <li>
                              <h6><%= oneTrip.flights[i].guest %></h6>
                              <small>Departing from <%= oneTrip.flights[i].departureCity %> on <%= oneTrip.flights[i].departureDate %> at <%= oneTrip.flights[i].departureTime %></small>
                              <small>Arriving to <%= oneTrip.flights[i].arrivalCity %> on <%= oneTrip.flights[i].arrivalDate %> at <%= oneTrip.flights[i].arrivalTime %> </small>
                            </li>
                          <% } %>
                        <% } %>
                      </ul>

                      <% if(!hasArrivals) { %>
                        <h6>You haven't saved any arriving flights yet!</h6>
                        <small>Add all guests flights here to better coordinate transfers from the airport to your accomodations</small>
                      <% } %>


                  <!-- Departures -->

                  <% } else if (selectedCategory === 'departures') { %>
                    <% let hasDepartures = false %>
                    <h3>Departures</h3>
                    <ul>
                      <% for(let i=0; i < oneTrip.flights.length; i++) { %>
                        <% if (oneTrip.flights[i].category === 'departure') { %>
                          <% hasDepartures = true %>
                            <li>
                              <h6><%= oneTrip.flights[i].guest %></h6>
                              <small>Departing from <%= oneTrip.flights[i].departureCity %> on <%= oneTrip.flights[i].departureDate %> at <%= oneTrip.flights[i].departureTime %></small>
                              <small>Arriving to <%= oneTrip.flights[i].arrivalCity %> on <%= oneTrip.flights[i].arrivalDate %> at <%= oneTrip.flights[i].arrivalTime %> </small>
                            </li>
                        <% } %>
                      <% } %>
                    </ul>

                    <% if(!hasDepartures) { %>
                      <h6>You haven't saved any departing flights yet!</h6>
                      <small>Add all guests flights here to better coordinate transfers from your accomodations to the airport</small>
                    <% } %>

                  <% } %>


                </div>
              </section>
            </div>
          </div> 
        </div> 
      </div>
    </div>
  </body>

</html> 