<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Insert Trip Title</title>

  <%- include('../partials/style') %>

</head>

  <body>
    
    <div class="layout layout-nav-side">

      
      <!-- Nav Bar -->

      <%- include('../partials/navbars/nav2') %>
     
      <!-- Main Section -->

      
      <!-- Trip Detail Header -->
      <div class="main-container">
        <div class="container" id="show-page-header"> 
          <div class="row justify-content-center">
            <div class="col-lg-11 col-xl-9">
              <section class="py-4 py-g-5">
                <div class="post-detail-image" style="background-image: url('<%= oneTrip.imageLink %>');">
                  <div class="show-overlay">
                    <h1><%= oneTrip.title %></h1>
                    <h3><%= oneTrip.destination %></h3>
                    <h6><%= oneTrip.startDate %> - <%= oneTrip.endDate %> </h6>
                  </div>
                </div>
              </section>
              
              <!-- Trip Detail Description-->
      
              <section class="py-4 py-g-5">
                <p><%= oneTrip.details %></p>
              </section>
          
            <!-- Trip Detail Tabs -->

              <section class="py-4 py-g-5">

                <ul class="nav nav-tabs nav-fill" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link show" href="/trips/<%= oneTrip._id %>?option=itinerary"> Itinerary</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link show" href="/trips/<%= oneTrip._id %>?option=notes">Notes</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link show" href="/trips/<%= oneTrip._id %>?option=arrivals">Arrivals</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link show" href="/trips/<%= oneTrip._id %>?option=departures">Departures</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link show" data-toggle="modal" data-target="#tripEditModal">Edit</a>
                  </li>

                  <%- include('../partials/modals/editTripModal') %>

                </ul>

              </section>


              <!-- Lower Container  -->
              
              <section class="py-4 py-g-5">

                <!-- Itinerary -->

                <% if(selectedCategory === 'itinerary') { %>
                  <div>
                    <h3 class="show-page-detail-header">Itinerary</h3>
                    <% if(user) { %>
                      <div class="sidenav">
                      <button type="button" class="btn btn-primary btn-circle btn-xl add-post-btn" data-toggle="modal" data-target="#createEventModal" title="Add New Event">
                      <i class="fal fa-plus"></i>
                      </button>
                  
                    <%- include('../partials/modals/newItineraryEvent') %>
                    <% } %>
                      </div>
                
                <div class="container posts-list">

                    <ul style="padding: inherit">

                      <% for(let i=0; i < oneTrip.itinerary.length; i++) { %>

                        <li class="lower-list-items">
                          <div class="card text-center">
                            <h6><%= oneTrip.itinerary[i].title %> </h6>

                            <div class="sidenav">
                              <form action="/tripdetail/<%= oneTrip._id %>/itinerary/<%= oneTrip.itinerary[i]._id %>?_method=DELETE" method="POST">
                                <button type="submit" class="far fa-trash-alt" id="trash">
                                </button>
                                </form>
                            </div>
                            
                            <small class="text-muted"><%= oneTrip.itinerary[i].date %> at <%= oneTrip.itinerary[i].time %></small>
                            
                            <% if(oneTrip.itinerary[i].location.length > 0 && oneTrip.itinerary[i].address.length > 0) { %> 

                            <small><a href="https://maps.google.com/?q=<%= oneTrip.itinerary[i].address %>"><%= oneTrip.itinerary[i].location %></a></small>
                            <% } else if(oneTrip.itinerary[i].location.length > 0) { %>
                              <small><%= oneTrip.itinerary[i].location %></small>
                            <% } %>

                            <% if(oneTrip.itinerary[i].confirmation.length > 0) { %> 
                              <small>Confirmation Number: <%= oneTrip.itinerary[i].confirmation %></a></small>
                              <% } %>

                            <% if(oneTrip.itinerary[i].description.length > 0) { %> 
                              <small><%= oneTrip.itinerary[i].description %></a></small>
                              <% } %>

                          </div>
                        </li>
                      <% } %>
                      
                      <% if(oneTrip.itinerary.length === 0) { %>
                        <h6>There are no events added for this trip. Let's get planning!</h6>
                        <% } %>
                        
                      </ul>
                      </div>
                  </div>



                  <!-- Notes -->

                  <% } else if(selectedCategory === 'notes') { %>
                      <div>
                        <h3 class="show-page-detail-header">Notes</h3>
                        <% if(user) { %>
                          <div class="sidenav">
                            <button type="button" class="btn btn-primary btn-circle btn-xl add-post-btn" data-toggle="modal" data-target="#createNoteModal" title="Add New Note">
                            <i class="fal fa-plus"></i>
                            </button>
                          </div>
                    
                          <%- include('../partials/modals/newNote') %>
                        <% } %>
                        
                        
                        <div class="container posts-list">

                          <ul style="padding: inherit">

                            <% for(let i=0; i < oneTrip.notes.length; i++) { %>
                              
                              <li class="lower-list-items">
                                <div class="card text-center">
                                  <% if(oneTrip.notes[i].link.length > 0) { %>
                                    <h6><a href="<%= oneTrip.notes[i].link %>"><%= oneTrip.notes[i].title %> </a></h6>
                                  <% } else { %>
                                    <h6><%= oneTrip.notes[i].title %></h6>
                                    <% } %>
                                    
                                  <div class="sidenav">
                                    <form action="/trips/<%= oneTrip.itinerary[i]._id %>?_method=DELETE" method="POST">
                                      <button type="submit" class="far fa-trash-alt" id="trash">
                                      </button>
                                      </form>
                                  </div>



                                  <% if(oneTrip.notes[i].note.length > 0 ) { %>
                                    <small><%= oneTrip.notes[i].note %></small>
                                    <% } %>

                                  </div>
                              </li>
                              <% } %>
                          </ul>
                          



                          <% if(oneTrip.notes.length === 0) { %>
                            <h6>You haven't saved any notes yet!</h6>
                            <small>Feel free to add any and everything here that you may want to reference at a later date.</small>
                            <% } %>
                          </div>
                            





                      
                            <!-- Arrivals -->
                            
                            <% } else if(selectedCategory === 'arrivals') { %>
                              <% let hasArrivals = false %>
                              <h3>Arrivals</h3>
                              <ul>
                                <% for(let i=0; i < oneTrip.flights.length; i++) { %>
                                  <% if (oneTrip.flights[i].category === 'arrival') { %>
                                    <% hasArrivals = true %>
                                    <li>
                                      <h6><%= oneTrip.flights[i].guest %></h6>
                                      <small>Departing from <%= oneTrip.flights[i].departureCity %> on <%= oneTrip.flights[i].departureDate %> at <%= oneTrip.flights[i].departureTime %></small>
                                      <small>Arriving to <%= oneTrip.flights[i].arrivalCity %> on <%= oneTrip.flights[i].arrivalDate %> at <%= oneTrip.flights[i].arrivalTime %> </small>
                                    </li>
                                    <% } %>
                                    <% } %>
                                  </ul>

                      <% if(!hasArrivals) { %>
                        <h6>You haven't saved any arriving flights yet!</h6>
                        <small>Add all guests flights here to better coordinate transfers from the airport to your accomodations</small>
                      <% } %>


                  <!-- Departures -->

                  <% } else if (selectedCategory === 'departures') { %>
                    <% let hasDepartures = false %>
                    <h3>Departures</h3>
                    <ul>
                      <% for(let i=0; i < oneTrip.flights.length; i++) { %>
                        <% if (oneTrip.flights[i].category === 'departure') { %>
                          <% hasDepartures = true %>
                            <li>
                              <h6><%= oneTrip.flights[i].guest %></h6>
                              <small>Departing from <%= oneTrip.flights[i].departureCity %> on <%= oneTrip.flights[i].departureDate %> at <%= oneTrip.flights[i].departureTime %></small>
                              <small>Arriving to <%= oneTrip.flights[i].arrivalCity %> on <%= oneTrip.flights[i].arrivalDate %> at <%= oneTrip.flights[i].arrivalTime %> </small>
                            </li>
                        <% } %>
                      <% } %>
                    </ul>

                    <% if(!hasDepartures) { %>
                      <h6>You haven't saved any departing flights yet!</h6>
                      <small>Add all guests flights here to better coordinate transfers from your accomodations to the airport</small>
                    <% } %>

                  <% } %>


                </div>
              </section>
            </div>
          </div> 
        </div> 
      </div>
    </div>
  </body>

</html> 