<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Upcoming Trips</title>

  <%- include('../partials/style') %>

</head>
<main role ="main">
  <body class="home">
    <nav>
    <%- include('../partials/nav') %>
    </nav>
    <!-- trip index view -->

    <h1 style="padding-top: 4rem;">Upcoming Trips View</h1>
    
    <ul>
        <% for (let i=0; i < allTrips.length; i++) { %>
            <li>
                <a href="/trips/<%= allTrips[i]._id %>">
                <h6><%= allTrips[i].title %></h6>
                </a>
                    <small class="text-muted"><%= allTrips[i].destination %></small><br>
                    <small class="text-muted"><%= allTrips[i].startDate %> - <%= allTrips[i].endDate %></small>
            </li>
        <% } %>
    </ul>


  </body>
</main>
</html>